.c-button-navbar {
  font-family: Anybody;
  font-weight: 700;
  border-radius: 999px;
  border: none;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 10px;

  img {
    height: 1em;
    width: auto;
  }

  p {
    font-size: 1em;
    color: black;
  }
}
