.c-button-volume {
  border-radius: 999px;
  border: none;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 50px;
  width: 50px;
  // &:hover {
  //   background-color: yellow;
  // }

  img {
    height: 100%;
    width: 100%;
  }
}
