@use '/src/styles/settings/' as *;

.c-divider {
  text-align: center;
  font-weight: 700;
  font-style: italic;
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;

  &__inside {
    flex-shrink: 0;
    margin: 0 1.5rem;
    border: none;
    background: none;
    outline: none;
    padding: none;
    cursor: pointer;
    font-family: 'Anybody';
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid #0f0f0f;
    background-color: #ffffff;
    padding: 0 1.25rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 2.5rem;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.4, 0, 0, 1);

    > * {
      flex-shrink: 0;
      line-height: 2.5rem;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover {
      background-color: $color-blue-hover;
      color: $color-blue;
      border-color: $color-blue;
      box-shadow: 0px 4px 37px 0px rgba(40, 48, 92, 0.06);
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #000000;
    opacity: 1;
    transform: scaleX(1);
    transition: 0.6s all cubic-bezier(0.4, 0, 0, 1);
  }

  &::before {
    transform-origin: right center;
  }

  &::after {
    transform-origin: left center;
  }

  &.--hide-lines {
    .c-divider__inside {
      box-shadow: 0px 4px 37px 0px rgba(40, 48, 92, 0.06);
    }

    &::before,
    &::after {
      opacity: 0;
      transform: scaleX(0);
    }
  }
}
