@use '/src/styles/settings' as *;

.c-header-wrapper {
  z-index: 9;
  background-image: url('/img/brush-header.png');
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  top: 0;
  height: 15vh;

  .c-header-left {
    position: absolute;
  }

  .c-header-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    p {
      color: white;
      font-size: 3rem;
      font-family: MonumentExtended;
      font-weight: 600;
      text-align: center;
      margin: 0px 20px;
      transform: translateY(2px);
    }

    img {
      height: 50px;
      width: auto;
    }
  }

  .c-header-right {
    position: absolute;
    top: 50%;
    right: 2vw;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    // align-items: center;
  }
}
