@use '/src/styles/settings' as *;

.c-homepage-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  user-select: none;

  .c-homepage-banner {
    grid-area: 1 / 1 / 11 / 3;
    position: relative;
    display: flex;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      &.--title {
        object-fit: contain;
        transform: translateX(2px);
        padding: 30px 15px;
      }
    }
  }

  $dot-size: 4px;
  $dot-space: 36px;
  $margin: 26px;
  $radius: 16px;

  .c-homepage-bg {
    grid-area: 1 / 3 / 9 / 9;
    margin: $margin;
    border-radius: $radius;
    overflow: hidden;
    position: relative;

    @keyframes animatedBackground {
      from {
        background-position: 0 0;
      }
      to {
        background-position: 10000px -10000px;
      }
    }

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
      // clip-path: url('#home-bg-mask');
      // clip-path: path(
      //   'M0 30C0 13.4315 13.4315 0 30 0H1308.46C1325.03 0 1338.46 13.4315 1338.46 30V199V440C1338.46 456.569 1325.03 470 1308.46 470H884C867.431 470 854 483.431 854 500V657.5V766C854 782.569 840.569 796 824 796H669.23H29.9999C13.4314 796 0 782.569 0 766V30Z'
      // );
    }

    .c-homepage-figures {
      z-index: 20;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        display: block;
      }

      .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
        box-sizing: content-box;
      }
    }

    .c-homepage-marquee {
      position: absolute;
      left: 0;
      top: 5%;
      right: 0;
      display: flex;
      align-items: center;
      column-gap: 88px;
      transform-origin: left center;
      transform: rotate(12deg) skewX(30deg);

      .c-marquee {
        display: flex;
        column-gap: 88px;

        p {
          position: relative;
          font-size: 15vw;
          font-weight: 900;
          font-family: MonumentExtended;

          > span {
            &:first-child {
              position: relative;
              z-index: 2;
              color: $color-red;
            }

            &:last-child {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateX(0.5vw) translateY(calc(-50% + 0.5vw));
              z-index: 1;
              color: #3d3aa9;
            }
          }
        }
      }
    }
  }

  .c-homepage-flag {
    user-select: none;
    z-index: 5;
    grid-area: 1 / 7 / 5 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $margin $margin 0px 0px;

    img {
      max-width: 90%;
      max-height: 90%;
      object-fit: contain;
    }
  }

  .c-homepage-brush {
    user-select: none;
    position: relative;
    grid-area: 9 / 3 / 11 / 7;
    margin: 0px 0px $margin $margin;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 60;
    padding-left: 4rem;
    padding-right: 2rem;

    img {
      position: absolute;
      object-fit: fill;
      width: 110%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 24px), -50%);
    }

    p {
      color: white;
      font-style: italic;
      text-transform: uppercase;
      font-size: 1.8vw;
      line-height: 1.25;
      z-index: 10;

      strong {
        font-style: normal;
        font-weight: bold;
      }
    }
  }

  .c-homepage-athletes {
    z-index: 50;
    grid-area: 5 / 7 / 11 / 9;
    margin: $margin;
    border-radius: $radius;
    display: flex;
    align-items: stretch;
    user-select: none;
    overflow: hidden;

    background-image: repeating-linear-gradient(
        45deg,
        $color-blue 25%,
        transparent 25%,
        transparent 75%,
        $color-blue 75%,
        $color-blue
      ),
      repeating-linear-gradient(
        45deg,
        $color-blue 25%,
        white 25%,
        white 75%,
        $color-blue 75%,
        $color-blue
      );
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;

    .swiper {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      overflow: hidden;
      display: block;
    }

    .swiper-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0, 1);
      box-sizing: content-box;
    }
  }
}

.c-homepage-figure {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;

  > img {
    height: 100%;
    width: auto;
  }
}

.c-homepage-athlete {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  padding-left: 8px;

  > img {
    height: 100%;
    width: auto;
  }
}

.c-homepage-cursor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
