@use '/src/styles/settings' as *;
.c-loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 7vw;
  transition: transform 0.5s ease-out;
  .loading-sreen__gif {
    width: 25vw;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
  }
  .loading-screen__title {
    color: #ffffff;
    font-size: 4vw;
    font-family: MonumentExtended;
    font-weight: 600;
    text-align: center;
    z-index: 101;
  }
  .loading-screen__bar-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 101;
    .loading-screen__bar {
      flex-grow: 1;
      height: 40px;
      background: $color-white;
      transform: skewX(-30deg);
      border-radius: 32px 8px;
      border: 2px solid $color-red;
      // overflow: hidden;
      .loading-screen__bar-inside {
        border-radius: 32px 8px;
        height: calc(100% + 4px);
        width: calc(var(--loadingWidth) + 4px);
        background-color: $color-red;
        position: absolute;
        top: -2px;
        left: -2px;
        transition: all 0.5s ease-out;
      }
    }
    .loading-screen__value {
      margin-left: 40px;
      color: $color-red;
      font-size: 6vw;
      font-family: MonumentExtended;
      font-weight: 600;
      position: absolute;
      right: 0;
      top: 0;
      &.invisible {
        position: inherit;
        opacity: 0;
      }
    }
  }
  &.--difficulty-1 {
    .loading-screen__title {
      color: $color-blue;
    }
    .loading-screen__bar {
      background: $color-white;
      border-color: $color-blue;
      .loading-screen__bar-inside {
        background-color: $color-blue;
        border: 2px solid $color-white;
      }
    }
    .loading-screen__value {
      color: $color-blue;
    }
  }
  &.--difficulty-2 {
    .loading-screen__title {
      color: $color-red;
    }
    .loading-screen__bar {
      background: $color-white;
      border-color: $color-red;
      .loading-screen__bar-inside {
        background-color: $color-red;
        border: 2px solid $color-white;
      }
    }
    .loading-screen__value {
      color: $color-red;
    }
  }
  &.--difficulty-3 {
    .loading-screen__title {
      color: $color-white;
    }
    .loading-screen__bar {
      background: $color-white;
      border-color: $color-red;
      .loading-screen__bar-inside {
        background-color: $color-red;
        border: 2px solid $color-white;
      }
    }
    .loading-screen__value {
      color: $color-white;
    }
  }
}
