.c-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.--fullscreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }

  &.--blue {
    .c-modal {
      background-color: #3656ff;
    }
  }

  &.--red {
    .c-modal {
      background-color: #ea4050;
    }
  }

  .c-modal-upper-img {
    align-self: flex-end;
    transform: translateY(5px) translateX(-1px);
    max-width: 70%;
    overflow: hidden;
    z-index: -5;
  }

  .c-modal {
    padding: 5px;
    border-radius: 8px;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 100%;

    .c-modal-title {
      text-align: center;
      align-items: center;
      margin: auto;
      display: flex;
      column-gap: 5px;

      img {
        height: 1.2em;
      }

      h1 {
        font-size: 1.2em;
        font-family: Anybody-Bold;
        color: white;
        padding: 5px;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
      }
    }

    .c-modal-content {
      // background-color: white;
      background: repeating-linear-gradient(
        20deg,
        white 0px,
        white 27%,
        #f9f9f9 43%,
        #f9f9f9 55%
      );
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
      border-radius: 0px 0px 4px 4px;
      width: 100%;
      padding: 20px 40px 40px 40px;
    }
  }

  .c-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    transform: translateY(-25px);

    .c-buttonUI {
      flex: 1 1 0px;
      // min-width: 200px;
    }
  }
}
