@use '/src/styles/settings' as *;

.c-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.--fullscreen {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }

  &.--blue {
    .c-modal {
      background-color: $color-blue;
    }
  }

  &.--red {
    .c-modal {
      background-color: $color-red;
    }
  }

  .c-modal-upper-img {
    align-self: flex-end;
    transform: translateY(5px) translateX(-1px);
    max-width: 70%;
    overflow: hidden;
    z-index: 10;
  }

  .c-modal {
    padding: 5px;
    border-radius: 8px;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 100%;

    .c-modal-title {
      text-align: center;
      align-items: center;
      margin: auto;
      display: flex;
      column-gap: 5px;

      img {
        height: 1.2em;
      }

      h1 {
        font-size: 1.2em;
        font-family: Anybody;
        font-weight: 700;
        color: white;
        padding: 5px;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
      }
    }

    .c-modal-content {
      // background-color: white;
      background: repeating-linear-gradient(
        20deg,
        white 0px,
        white 27%,
        #f9f9f9 43%,
        #f9f9f9 55%
      );
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
      border-radius: 0px 0px 4px 4px;
      width: 100%;
      padding: 20px 40px 40px 40px;
    }
  }

  .c-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    transform: translateY(-25px);

    .c-buttonUI {
      flex: 1 1 0px;
      // min-width: 200px;
    }
  }
  &.skate-tutorial {
    width: 60vw;
    margin: 0 auto;
    .c-modal-content {
      padding: 3.65vw 0px 5.47vw 0px;
      .tutoriel-content {
        display: flex;
        flex-direction: column;
        .skate-container {
          margin-bottom: 50px;
        }
      }
    }
    .c-modal-buttons {
      width: 100%;
      justify-content: space-between;
      padding: 0 7.3vw;
      transform: translate3d(0, -50%, 0);
      .trial-details {
        display: flex;
        align-items: center;
        column-gap: 1.3vw;
        .detail-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 22px;
          background-color: $color-blue-grey;
          border: 1px solid $color-blue-hover;
          border-radius: 9px;
          font-family: 'Avenir';
          font-weight: 800;
          font-size: 1.15vw;
          line-height: 1.61vw;
          color: $color-darkgrey;
          .o-icon {
            margin-right: 8px;
          }
        }
      }
      .c-buttonUI {
        flex: inherit;
        width: fit-content;
        font-size: 1.25vw;
        line-height: 1.25vw;
        padding: 1.04vw 3.65vw;
      }
    }
  }
}
