@use '/src/styles/settings' as *;

.c-modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.--fullscreen {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0px 30%;
  }

  &__backdrop {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba($color-blue, 0.4);
    backdrop-filter: blur(5px);

    .c-modal-wrapper.--fullscreen & {
      display: block;
    }
  }

  &.--blue {
    .c-modal {
      background-color: $color-blue;
    }
  }

  &.--red {
    .c-modal {
      background-color: $color-red;
    }
  }

  .c-modal-upper-img {
    align-self: flex-end;
    transform: translateY(5px) translateX(-1px);
    max-width: 70%;
    overflow: hidden;
    z-index: 10;
  }

  .c-modal {
    padding: 8px;
    border-radius: 8px;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 100%;
    // position: relative;
    // z-index: 1;

    .c-modal-title {
      text-align: center;
      align-items: center;
      margin: auto;
      display: flex;
      column-gap: 5px;

      img {
        height: 1.2em;
      }

      h1 {
        font-size: 1.2em;
        font-family: Anybody;
        font-weight: 700;
        color: white;
        padding: 5px;
        margin-block-start: 0.2em;
        margin-block-end: 0.2em;
      }
    }

    .c-modal-content {
      // background-color: white;
      background: repeating-linear-gradient(
        20deg,
        white 0px,
        white 27%,
        #f9f9f9 43%,
        #f9f9f9 55%
      );
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      justify-content: center;
      border-radius: 0px 0px 4px 4px;
      width: 100%;
      padding: 40px 40px 40px 40px;
    }
  }

  .c-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5px;
    transform: translateY(-25px);

    .c-buttonUI {
      flex: 1 1 0px;
      min-width: 200px;
    }
  }

  &.skate-tutorial {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 60px));
    width: 80vw;
    max-width: 1000px;
    .c-modal-content {
      padding: 3.65vw 3vw 5.47vw 3vw;
      .tutoriel-content {
        display: flex;
        flex-direction: column;

        &__pattern {
          margin: 0 auto;
        }

        .skate-pattern {
          margin-bottom: 50px;
        }

        p {
          margin-top: 2rem;
          text-align: center;
        }
      }
    }
    .c-modal-buttons {
      width: 100%;
      transform: translate3d(0, -50%, 0);
      .trial-details {
        display: flex;
        align-items: center;
        column-gap: 1.3vw;
        margin-right: 100px;
        .detail-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 22px;
          background-color: $color-blue-grey;
          border: 1px solid $color-blue-hover;
          border-radius: 9px;
          font-family: 'Avenir';
          font-weight: 800;
          font-size: 1.15vw;
          line-height: 1.61vw;
          color: $color-darkgrey;
          .o-icon {
            margin-right: 8px;
          }
        }
      }
      .c-buttonUI {
        flex: inherit;
        width: fit-content;
        font-size: 1.25vw;
        line-height: 1.25vw;
        // padding: 1.04vw 3.65vw;
      }
    }
  }
}
