@use '/src/styles/settings' as *;

.c-sportslider-wrapper {
  height: 100vh;
  width: 100vw;
  margin: auto;
  z-index: 0;

  .c-sportslider-content {
    height: 100%;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .c-sportslider-button {
      button {
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        align-items: center;
        column-gap: 10px;
        padding: 50px 20px;
        z-index: 20;

        h3 {
          font-weight: 300;
          font-size: 2em;
          color: $color-darkgrey;
          transform: translateY(2px);
          margin: 0px 10px;
          z-index: 20;
        }
        img {
          height: 2em;
          z-index: 20;
        }
      }
    }

    .c-sportslider-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: absolute;
      height: 100%;
      width: 100%;

      p {
        font-size: 1.2rem;
        font-weight: 300;
        text-align: justify;
        padding: 2rem 2rem;
        z-index: 10;
        max-width: 800px;
      }

      .sportimg-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 15%;
        // height: 100%;
        width: 100%;
        // justify-content: flex-end;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform-origin: translateX(-50%) translateY(50%);
        // position: absolute;
        // bottom: 0;

        .sportimg {
          overflow: hidden;
          padding: 50px;

          img {
            max-width: 600px;
            max-height: 500px;
            z-index: 10;
          }
        }

        .dropshadow {
          position: relative;
          bottom: 0;
          z-index: -1;
          height: 80px;
          width: 40%;
          background: radial-gradient($color-blue 0%, rgba(255, 255, 255, 0) 50%);
          transform: translateY(-45%);
        }
      }

      h1 {
        font-size: 10rem;
        font-family: MonumentExtended;
        color: white;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: $color-blue;
        filter: blur(2px);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
    }
  }

  .footer-wrapper {
    position:absolute;
    bottom:0;
    width: 100%;
    height: 8vh;
    z-index:100;

    footer {
      height: 100%;
      position:relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 20px;

      .footer-left {
        position:absolute;
        left:20px;
      }
      .footer-center {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

        display:flex;
        flex-direction: row;
        align-items: center;
        column-gap:20px;

        p {
          transform: translateY(5px);
        }

        img {
          height: 2rem;
        }

      }
      .footer-right {
        position:absolute;
        right:20px;
      }
    }
  }

  &.--disabled {

    .c-sportslider-content {

      .c-sportslider-center {

        .sportimg-wrapper {

          .sportimg {

            img {
            }
          }

          .dropshadow {
            background: radial-gradient($color-darkgrey 0%, rgba(255, 255, 255, 0) 50%);
            opacity: 0.6;
          }
        }

        h1 {
          color: white;
          -webkit-text-stroke-color: $color-darkgrey;
          filter: blur(2px);
        }
      }
    }

    .footer-wrapper {
      footer {
        background-color: $color-darkgrey;
        border-radius: 8px 8px 0px 0px;
        .footer-left {
        }
        .footer-center {
          color:white;
          font-weight: 300;
          font-size: 1.5em;
        }
        .footer-right {
        }
      }
    }
  }
}
