@use '../../settings' as *;
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  line {
    stroke-width: 0.5vw;
    stroke: $color-red;
  }
}

.pattern-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .pattern-container {
    position: relative;
    width: calc(100% / 6 * 5);
    height: calc(100% / 4 * 3);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    .pattern-point__zone {
      height: 2.8vw;
      width: 2.8vw;
      background: rgba($color: #000000, $alpha: 0);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;
      .pattern-point {
        height: 1.3vw;
        width: 1.3vw;
        border-radius: 50%;
        background: $color-blue;
        transition: transform 0.2s cubic-bezier(0, 0, 0.75, 3);
      }
      &.active {
        .pattern-point {
          background: $color-red;
          transform: scale(1.5);
        }
      }
    }
  }
  .game-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pattern-to-do,
    .current-pattern {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      h2 {
        margin-right: 20px;
      }
    }
  }
}
