@use '../../settings' as *;
.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  line {
    stroke-width: 6px;
    stroke: $color-blue;
  }
}
.pattern-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .pattern-container {
    position: relative;
    width: 50%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    .pattern-point__zone {
      height: 80px;
      width: 80px;
      background: rgba($color: #000000, $alpha: 0.3);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .pattern-point {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: rgba(255, 218, 185, 0.3);
      }
      &.active {
        background: rgba(43, 184, 43, 0.2);
      }
    }
  }
  .game-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pattern-to-do,
    .current-pattern {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      h2 {
        margin-right: 20px;
      }
    }
  }
}
