@use '../../settings' as *;
.skate-container {
  width: 100%;
  position: relative;
  border: 0.3125vw solid $color-blue;
  border-radius: 300px;
  overflow: hidden;
  margin-bottom: -4vw;
  .skate-layout {
    display: grid;
    background-color: $color-blue;
    height: 15.625vw;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    .layout-cell {
      background-color: $color-blue-grey;
      border: 0.078125vw solid $color-blue;
      &:nth-child(-n + 6) {
        border-top: none;
      }
      &:nth-last-child(-n + 6) {
        border-bottom: none;
      }
      &:nth-child(6n) {
        border-right: none;
      }
      &:nth-child(6n + 1) {
        border-left: none;
      }
    }
  }
}
