:root {
  --font-family: 'Arial', sans-serif;
  --font-size: 16px;

  --font-size-h1-giant: clamp(#{rem(32px)}, 16vw, 140px);
  --font-size-h1: #{rem(48px)};
  --font-size-h2: #{rem(32px)};
  --font-size-h3: #{rem(24px)};
  --font-size-h4: #{rem(20px)};
  --font-size-h5: #{rem(16px)};
}
