$color-white: #f9f9f9;
$color-yellow: #fff965;
$color-red: #ea4050;
$color-red-hover: #ce303e;
$color-blue: #3656ff;
$color-blue-hover: #d4dbff;
$color-blue-grey: #e1e4eb;
$color-blue-secondary: #d4dbff;
$color-blue-stroke: #b0baec;
$color-darkgrey: #484d66;
$color-black: #0f0f0f;

$color-green-quiz-primary: #32bd40;
$color-green-quiz-secondary: #66e372;
$color-orange-quiz-primary: #d66526;
$color-orange-quiz-secondary: #ea783a;
